.scroll-float {
  overflow: visible;
  display: block;
  text-align: center;
}

.scroll-float-text {
  display: inline-block;
  text-align: center;
  line-height: 1.25;
  padding-bottom: 0.25em;
}

.char {
  display: inline-block;
  will-change: transform, opacity;
  padding-bottom: 0.1em;
}
